.el-col {
    padding: 10px;
}

.admin {
    height: 230px;
    border-bottom: 2px solid #bbb;
}

.admin .admin_picture {
    margin-top: 50px;
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.admin .admin_info {
    margin-top: 50px;
    float: left;
    margin-left: 40px;
}

.admin .admin_info .name {
    font-size: 26px;
    font-weight: 800;
    color: black;
}

.admin .admin_info .pwd {
    font-size: 16px;
    color: #bbb;
}

.admin .admin_info .pwd i {
    margin-right: 20px;
}
 